/* line 35, ../scss/global.scss */
body {
  background: #fdfdfd;
  color: #020202;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* line 42, ../scss/global.scss */
input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* line 47, ../scss/global.scss */
a {
  text-decoration: none;
  color: #020202;
}
/* line 51, ../scss/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 56, ../scss/global.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 62, ../scss/global.scss */
.right {
  float: right;
}

/* line 66, ../scss/global.scss */
.left {
  float: left;
}

/* line 70, ../scss/global.scss */
.hidden {
  display: none;
}

/* line 74, ../scss/global.scss */
.invisible {
  opacity: 0;
}

/* line 78, ../scss/global.scss */
h1, h2 {
  color: #c0c9cf;
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}
