/* line 10, ../scss/global.scss */
body {
  background: #fdfdfd;
  color: #020202;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 16, ../scss/global.scss */
a {
  text-decoration: none;
  color: #020202;
}
/* line 20, ../scss/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 25, ../scss/global.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../scss/global.scss */
.right {
  float: right;
}

/* line 35, ../scss/global.scss */
.left {
  float: left;
}

/* line 39, ../scss/global.scss */
.hidden {
  display: none;
}
