.main {
    min-width: 1000px;
    margin-top: 3rem;
}

.tasks, .trends {
    min-height: 500px;
    float: left;
}

.trends, .activity-stream {
    border-left: 1px solid $border_color;
    width: 25%;
}

.activity-stream {
    float: right;
    min-height: 500px;
}

.tasks {
    width: 48.9%;
    padding: 0.4%;
    position: relative;

    .task-actions {
        position: absolute;
        width: 99.2%;
        height: 2.5rem;
        background: $background;
        top: 0;
        @include fast-animation;

        div {
            width: 33.3%;
            text-align: center;
            line-height: 2.5rem;
            float: left;
        }

        .complete {
            background: green;
            color: $header_and_btn_text;
            @include fade-out;
        }

        .postpone {
            background: orange;
            @include fade-out;
        }

        .edit {
            background: gray;
            color: $header_and_btn_text;
            @include fade-out;
        }
    }
}
