$headers_and_btns: #aa3311;
$header_and_btn_text: #dedede;
$header_and_btn_text_hover: white;
$border_color: #999;
$highlight_color: #ddf5f8;
$background: #fdfdfd;
$text_color: #020202;
$light_text: #777;
$extra_light_text: #C0C9CF;
$shadow: #ccc;

@mixin fast-animation {
    transition: 0.15s all linear;
}

@mixin menu-links {
    color: $light_text;
    display: block;
    padding: 0 1rem;
    &:hover {
        @include fast-animation;
        background: $highlight_color;
        text-decoration: none;
    }
}

@mixin fade-out {
    @include fast-animation;
    &.fade-out {
        -webkit-filter: grayscale(75%);
        -moz-filter: grayscale(75%);
    }
}

body {
    background: $background;
    color: $text_color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

input, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: $text_color;

    &:hover {
        text-decoration: underline;
    }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

h1, h2 {
    color: $extra_light_text;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;

    .selected-elem {
        position: absolute;

        * {
            margin: 0;
        }
    }

    .modal {
        position: absolute;
        box-shadow: 0px 0px 4px #000;
        background: $background;
        width: 200px;
        height: 350px;

        &:before {
            display: block;
            position: absolute;
            left: -9px;
            // 75 (which is middle of the element to be pointed at) - 0.5 * 28(the hypotenuse) == 62
            top: 62px;
            width: 20px;
            height: 20px;
            background: $background;
            content: " ";
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
        }
    }
}
