.header-wrapper {
    position: fixed;
    width: 100%;
    background: $headers_and_btns;
    color: $header_and_btn_text;
}

.header {
    height: 3rem;
    line-height: 3rem;
    margin: 0 1rem;

    .total-points {
        margin-right: 3rem;
        font-size: 1.3rem;
    }

    input[type=text] {
        line-height: 1.8rem;
        width: 95%;
        padding: 0 0.5rem;
        margin-top: 0.6rem;
        border: none;
        display: block;
    }

    #quick-create {
        width: 33%;
    }

    #search {
        width: 25%;
    }

    .configuration {
        margin-left: 3rem;

        a {
            color: $header_and_btn_text;
            line-height: 3rem;
            padding: 0 1rem;
            display: inline-block;

            &:hover {
                text-decoration: none;
                color: $header_and_btn_text_hover;
                background: rgba(0, 0, 0, 0.2);
                transition: 0.15s all linear;
            }
        }
    }
}