<!DOCTYPE HTML>
<html ng-app>
<head>
    <title>Achievable V1</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="js/ng-main.js"></script>
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="total-points left"><a href="index.html">1025</a></div>
            <nav></nav>
            <form id="quick-create" ng-submit="create()" ng-controller="QuickCreate" class="left" action="">
                <input type="text" placeholder="Create a task..." ng-model="title" name="task-title">
                <div class="demo options" ng-show="title.length">
                    <a href="" ng-click="create()">Create Task:<span class="user-value">{{title}}</span></a>
                    <a href="" ng-click="create()">Create and go to task:<span class="user-value">{{title}}</span></a>
                    <a href="" ng-click="adv_create()">Create with options:<span class="user-value">{{title}}</span></a>
                </div>
            </form>
            <nav class="configuration right">
                <a href="" id="notifications">N</a>
                <a href="" id="settings">S</a>
                <a href="" id="profile">P</a>
            </nav>
            <form id="search" class="right" action="">
                <input type="text" placeholder="Search tasks, comments, or people" name="search-text">
            </form>
        </div>
    </div>
    <div class="main group">
        <div class="tasks" id="tasks" ng-controller="TasksController">
            <h1>Your Tasks</h1>
            <div class="task-container" ng-repeat="task in tasks">
                <div class="task" draggable="true">
                    <h4><a href="" ng-click="show_details=!show_details">{{task.title}}</a></h4>
                    <span class="remaining" ng-show="task.due_date != null" prox="{{days_remaining()}}">{{days_msg()}}</span>
                    <span class="description-short">
                        {{short_description()}}
                    </span>
                    <span class="points">{{task.points.total}}</span>
                    <span class="chain-length">{{task.chain}}</span>
                    <a href="#" class="actions">M</a>
                    <div class="attachments">
                        <img src="" alt="" />
                    </div>
                    <div class="motivation">{{task.motivation}}</div>
                    <nav class="menu hidden">
                        <a href="#">Edit</a>
                        <a href="#">Change Due Date</a>
                        <a href="#">Move to top of list</a>
                        <a href="#">Change repeat days</a>
                    </nav>
                </div>
                <div class="task-details" ng-show="show_details">
                    <div class="sections">
                        <a href="#" class="details selected">D</a>
                        <a href="#" class="points">P</a>
                        <a href="#" class="motivation">M</a>
                        <a href="#" class="attachments">A</a>
                    </div>
                    <div class="section details selected">
                        <h4>Task Details</h4>
                        <div class="group due-date">
                            <label>Due Date:</label>
                            <span>{{due_date()}}</span>
                        </div>
                        <div class="group">
                            <label>Date Created:</label>
                            <span>{{created()}}</span>
                        </div>
                        <div class="group">
                            <label>Last Modified:</label>
                            <span>{{modified()}}</span>
                        </div>
                        <div class="description group">
                            <label>Description:</label>
                            <div>{{task.description}}</div>
                        </div>
                    </div>
                    <div class="section points">
                        <h4>Points</h4>
                        <div class="group">
                            <label>Base Points:</label>
                            <span>{{task.points.base}}</span>
                        </div>
                        <div class="group">
                            <label>Motivation Points:</label>
                            <span>{{task.points.motivation}}</span>
                        </div>
                        <div class="group">
                            <label>Chain Points:</label>
                            <span>{{task.points.chain}}</span>
                        </div>
                        <div class="group">
                            <label>Total Points:</label>
                            <span>{{task.points.total}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-actions invisible">
                <div class="complete">
                    Complete
                </div>
                <div class="postpone">
                    Postpone
                </div>
                <div class="edit">
                    Edit
                </div>
            </div>
        </div>
        <div class="trends">
            <h2>Achievement History</h2>
            <div class="comparison">
                <h4>This week vs last week</h4>
                <p>You've completed <b>5</b> more tasks than last week. Nice job!</p>
                <p>You've motivated <a href="">3 friends</a> this week. That's <b>3</b> less than last week. Get on that!</p>
            </div>
            <div id="completed">
                <svg></svg>
            </div>
            <div id="weekly">
                <svg></svg>
            </div>
        </div>
        <aside class="activity-stream">
            <h2>Friends Activity</h2>
            <div class="activity-message">
                <img src="img/avatar.png" alt="" class="avatar" />
                <h4><a href="profile.html">Bill Gates</a> completed the task "<a href="#">Sell Microsoft</a>"</h4>
                <a href="#" class="action">Congratulate him!</a>
            </div>
            <div class="activity-message">
                <img src="img/avatar.png" alt="" class="avatar" />
                <h4><a href="#">Jony Ive</a> created the task "<a href="#">iOS 11 Design</a>"</h4>
                <a href="#" class="action">Motivate him!</a>
            </div>
        </aside>
    </div>
    <div id="overlay" class="overlay hidden">
        <div class="selected-elem"></div>
    </div>
    <div id="notifications-window" class="top-unread hidden">
        <div class="notification unread">
            <a href="#" class="close">X</a>
            <img src="img/avatar.png" alt="" class="avatar" />
            <h4><a href="">Frank Smith</a> added you as a friend.</h4>
            <a href="#">Add him back</a>
        </div>
        <div class="notification">
            <a href="#" class="close">X</a>
            <img src="img/avatar.png" alt="" class="avatar" />
            <h4><a href="profile.html">Bill Gates</a> motivated your task:</h4>
            <a href="#">Clean off desk</a>
        </div>
    </div>
    <div id="create-overlay" class="overlay" ng-controller="CreateTask" ng-show="adv_create">
        <div id="create" class="create">
            <h3>Create Task</h3>
            <form ng-submit="add_task()" name="create-task">
                <div>
                    <label>Title:</label>
                    <input placeholder="Task title" type="text" class="title" ng-model="task.title">
                </div>
                <div>
                    <label>Due Date:</label>
                    <input placeholder="Due Date" type="date" class="due-date" ng-model="task.due_date">
                </div>
                <div>
                    <label>Description:</label>
                    <textarea placeholder="Task Description" rows="8" cols="40" ng-model="task.description"></textarea>
                </div>
                <div>
                    <label>Difficulty:</label>
                    <input type="number" name="difficulty" placeholder="1-10" min="1" max="10" step="1" ng-model="task.difficulty">
                </div>
                <div>
                    <label>Repeats:</label>
                    <label class="radio">
                        <input type="radio" name="repeat" value="weekly" ng-model="task.repeat_frequency" placeholder="Weekly">Weekly
                    </label>
                    <label class="radio">
                        <input type="radio" name="repeat" value="daily" ng-model="task.repeat_frequency" placeholder="Daily">Daily
                    </label>
                    <label class="radio">
                        <input type="radio" name="repeat" value="every_other" ng-model="task.repeat_frequency" placeholder="Every Other Day">Every Other Day
                    </label>
                </div>
                <input type="submit" value="Create Task">
            </form>
        </div>
    </div>

</body>
</html>
